<% provide :title, t(".title") %>
<% provide :unfollow, t(".unfollow") %>

<body class="animsition">
  <div class="container story-list p-t-20">
    <div class="title-list"><%= t ".followings" %></div>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent">
        <ul class="list-stories grid-6">
          <% if @followes.present? %>
            <% @followes.each_with_index  do |follow, index| %>
              <li>
                <% if (index+1) % 5 == 0 %>
                  <div class="story-item show-left open">
                <% else %>
                  <div class="story-item open">
                <% end %>
                  <span class="remove-subscribe" title="<%= yield :unfollow %>" data-id="128">
                    <i class="fa fa-times-circle-o"></i>
                  </span>
                  <%= link_to comic_path(follow.comic), class: "comic-follow" do %>
                    <% if follow.comic.thumb.present? %>
                      <%= image_tag follow.comic.thumb.url, class: "story-cover" %>
                    <% else %>
                      <%= image_tag "comic-default.png", class: "story-cover" %>
                    <% end %>
                  <% end %>
                  <div class="top-notice">
                    <% if follow.comic.chapters.present? %>
                      <span class="time-ago">
                        <%= distance_of_time_in_words(Time.now, follow.comic.chapters.last.updated_at) %>
                        <%= t ".ago" %>
                      </span>
                    <% end %>
                    <% if follow.comic.status == "hot" %>
                      <span class="type-label hot"><%= t ".hot" %></span>
                    <% end %>
                  </div>
                  <h3 class="title-book">
                    <%= link_to follow.comic.name, comic_path(follow.comic) %>
                  </h3>
                  <div class="more-info">
                    <div class="title-more">
                      <%= follow.comic.name %>
                    </div>
                    <div class="title-more-other">
                      <strong><%= t ".author" %>: </strong>
                      <%= follow.comic.author %>
                    </div>
                    <p class="info">
                      <strong><%= t ".status" %>: </strong>
                      <% if "finished" == follow.comic.status %>
                        <span class="text-danger"><%= t ".completed" %></span>
                      <% else %>
                        <span class="text-primary"><%= t ".up_dating" %></span>
                      <% end %>
                    </p>
                    <p class="info">
                      <strong><%= t ".views" %>: </strong>
                      <%= follow.comic.views %>
                    </p>
                    <p class="info">
                      <strong><%= t ".number_following" %>: </strong>
                      <%= total_follow(follow.comic) %>
                    </p>
                    <div class="list-tags">
                      <%= link_to follow.comic.category.name, category_path(follow.comic.category), class: "blue" %>
                    </div>
                    <div class="excerpt">
                      <%= follow.comic.description %>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</body>
