<section class="banner bgwhite p-t-40 p-b-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
        <!-- block1 -->
        <div class="block1 hov-img-zoom pos-relative m-b-30">
          <%= image_tag "/images/720x932-1.png" %>
          <div class="block1-wrapbtn w-size2">
            <%= link_to "", class: "flex-c-m size2 m-text2 bg3 hov1 trans-0-4" do %>
              Adventure
            <% end %>
          </div>
        </div>

        <!-- block1 -->
        <div class="block1 hov-img-zoom pos-relative m-b-30">
          <%= image_tag "/images/720x660-1.jpg" %>

          <div class="block1-wrapbtn w-size2">
            <%= link_to "", class: "flex-c-m size2 m-text2 bg3 hov1 trans-0-4" do %>
              Horro
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
        <!-- block1 -->
        <div class="block1 hov-img-zoom pos-relative m-b-30">
          <%= image_tag "/images/720x660-2.jpg" %>

          <div class="block1-wrapbtn w-size2">
            <%= link_to "", class: "flex-c-m size2 m-text2 bg3 hov1 trans-0-4" do %>
              Ecchi
            <% end %>
          </div>
        </div>

        <!-- block1 -->
        <div class="block1 hov-img-zoom pos-relative m-b-30">
          <%= image_tag "/images/720x932-3.jpg" %>

          <div class="block1-wrapbtn w-size2">
            <%= link_to "", class: "flex-c-m size2 m-text2 bg3 hov1 trans-0-4" do %>
              Drama
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
        <!-- block1 -->
        <div class="block1 hov-img-zoom pos-relative m-b-30">
          <%= image_tag "/images/720x932-2.jpg" %>

          <div class="block1-wrapbtn w-size2">
            <%= link_to "", class: "flex-c-m size2 m-text2 bg3 hov1 trans-0-4" do %>
              Action
            <% end %>
          </div>
        </div>

        <!-- block2 -->
        <div class="block2 wrap-pic-w pos-relative m-b-30">
          <%= image_tag "icons/bg-01.jpg" %>

          <div class="block2-content sizefull ab-t-l flex-col-c-m">
            <% unless logged_in? %>
              <h4 class="m-text4 t-center w-size3 p-b-8">
                <span><%= t ".sign_up_now" %></span>
              </h4>

              <p class="t-center w-size4">
                <%= t ".join_now" %>
              </p>
            <% else %>
              <h4 class="m-text4 t-center w-size3 p-b-8">
                <span><%= t ".alright" %></span>
              </h4>

              <p class="t-center w-size4">
                <%= t ".alright_content" %>
              </p>
            <% end %>

            <div class="w-size2 p-t-25">
              <% unless logged_in? %>
                <%= link_to signup_path, class: "flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" do %>
                  <%= t ".sign_up" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
