<section class="newproduct bgwhite p-t-45 p-b-105">
  <div class="container">
    <div class="sec-title p-b-60">
      <h3 class="m-text5 t-center">
        Manga Suggestions
      </h3>
    </div>

    <!-- Slide2 -->
    <div class="wrap-slick2">
      <div class="slick2">

        <div class="item-slick2 p-l-15 p-r-15">
          <!-- Block2 -->
          <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
              <%= image_tag "/images/slide/slide-1.jpg" %>

              <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                  <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                  <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>

                <div class="block2-btn-addcart w-size1 trans-0-4">
                  <!-- Button -->
                  <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                    Read Now
                  </button>
                </div>
              </div>
            </div>

            <div class="block2-txt p-t-20">
              <a href="#" class="block2-name dis-block s-text3 p-b-5">
                World Trigger
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick2 p-l-15 p-r-15">
          <!-- Block2 -->
          <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative">
              <%= image_tag "/images/slide/slide-2.jpg" %>

              <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                  <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                  <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>

                <div class="block2-btn-addcart w-size1 trans-0-4">
                  <!-- Button -->
                  <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                    Read Now
                  </button>
                </div>
              </div>
            </div>

            <div class="block2-txt p-t-20">
              <a href="#" class="block2-name dis-block s-text3 p-b-5">
                Kudo Kid
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick2 p-l-15 p-r-15">
          <!-- Block2 -->
          <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative">
              <%= image_tag "/images/slide/slide-3.jpg" %>

              <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                  <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                  <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>

                <div class="block2-btn-addcart w-size1 trans-0-4">
                  <!-- Button -->
                  <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                    Read Now
                  </button>
                </div>
              </div>
            </div>

            <div class="block2-txt p-t-20">
              <a href="#" class="block2-name dis-block s-text3 p-b-5">
                One Piece
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick2 p-l-15 p-r-15">
          <!-- Block2 -->
          <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
              <%= image_tag "/images/slide/slide-4.jpg" %>

              <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                  <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                  <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>

                <div class="block2-btn-addcart w-size1 trans-0-4">
                  <!-- Button -->
                  <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                    Read Now
                  </button>
                </div>
              </div>
            </div>

            <div class="block2-txt p-t-20">
              <a href="#" class="block2-name dis-block s-text3 p-b-5">
                Night tine
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick2 p-l-15 p-r-15">
          <!-- Block2 -->
          <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
              <%= image_tag "/images/slide/slide-5.jpg" %>

              <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                  <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                  <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>

                <div class="block2-btn-addcart w-size1 trans-0-4">
                  <!-- Button -->
                  <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                    Read Now
                  </button>
                </div>
              </div>
            </div>

            <div class="block2-txt p-t-20">
              <a href="#" class="block2-name dis-block s-text3 p-b-5">
                One Punch Man
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick2 p-l-15 p-r-15">
          <!-- Block2 -->
          <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative">
              <%= image_tag "/images/slide/slide-6.jpg" %>

              <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                  <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                  <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>

                <div class="block2-btn-addcart w-size1 trans-0-4">
                  <!-- Button -->
                  <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                    Read Now
                  </button>
                </div>
              </div>
            </div>

            <div class="block2-txt p-t-20">
              <a href="#" class="block2-name dis-block s-text3 p-b-5">
                Attack on Titan
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick2 p-l-15 p-r-15">
          <!-- Block2 -->
          <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative">
              <%= image_tag "/images/slide/slide-7.jpg" %>

              <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                  <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                  <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>

                <div class="block2-btn-addcart w-size1 trans-0-4">
                  <!-- Button -->
                  <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                    Read Now
                  </button>
                </div>
              </div>
            </div>

            <div class="block2-txt p-t-20">
              <a href="#" class="block2-name dis-block s-text3 p-b-5">
                Ranma 1/2
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick2 p-l-15 p-r-15">
          <!-- Block2 -->
          <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
              <%= image_tag "/images/slide/slide-8.jpg" %>

              <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                  <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                  <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>

                <div class="block2-btn-addcart w-size1 trans-0-4">
                  <!-- Button -->
                  <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                    Read Now
                  </button>
                </div>
              </div>
            </div>

            <div class="block2-txt p-t-20">
              <a href="#" class="block2-name dis-block s-text3 p-b-5">
                Black Clover
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
