<% provide :title, @user.name %>

<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if @user.avatar_user.present? %>
          <%= image_tag @user.avatar_user.to_s, class: "avatar" %>
        <% else %>
          <%= image_tag "avatar-default.png", class: "avatar" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.name %></h2>
        <% if current_user.present? && @user.current_user?(current_user) %> |
          <button>
            <%= link_to t("users.show.edit_btn"), edit_user_path(current_user), class: "edit-profile" %>
          </button>
        <% end %>
      </div>
      <ul class="posts">
        <li><%= t "users.show.following" %> <span>195</span></li>
      </ul>
      <h2 class="name"><%= @user.email %></h2>
    </div>
  </div>
</div>
