<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
  <div class="block2">
    <% case comic.status %>
    <% when "newly_created" %>
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
    <% when "newly_update" %>
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelupdated">
    <% when "hot" %>
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelhot">
    <% when "finished" %>
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelfinished">
    <% else %>
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-label">
    <% end %>
    <% if comic.thumb.present? %>
      <%= image_tag comic.thumb.url %>
    <% else %>
      <%= image_tag "/images/comic/not-found.png" %>
    <% end %>
      <div class="block2-overlay trans-0-4">
        <%= link_to "#", class: "block2-btn-addwishlist hov-pointer trans-0-4" do %>
          <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
          <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
        <% end %>

        <div class="block2-btn-addcart w-size1 trans-0-4">
          <%= link_to comic_path(comic), class: "flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4"  do %>
            <%= t ".read" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="block2-txt p-t-20">
      <%= link_to comic.name, comic_path(comic), class: "block2-name dis-block s-text3 p-b-5" %>
    </div>
  </div>
</div>
