<tr>
  <td>#</td>
  <td><%= link_to chapter.name, admin_comic_chapter_path(chapter.comic, chapter) %></td>
  <td>12345</td>
  <td><%= chapter.updated_at.strftime("%Y-%m-%d %Hh:%M'") %></td>
  <td class="project-actions text-right">
    <%= link_to admin_comic_chapter_path(chapter.comic, chapter), class: "btn btn-primary btn-sm" do %>
      <i class="fa fa-folder"></i> <%= t "common.view" %>
    <% end  %>
    <%= link_to "#", class: "btn btn-info btn-sm" do %>
      <i class="fa fa-pencil"></i> <%= t "common.edit" %>
    <% end  %>
    <%= link_to "#", class: "btn btn-danger btn-sm" do %>
      <i class="fa fa-trash"></i> <%= t "common.delete" %>
    <% end  %>
  </td>
</tr>
