<header class="header1">
  <!-- Header desktop -->
  <div class="container-menu-header">
    <div class="topbar">
      <div class="topbar-social">
        <%= link_to "", "#", class: "topbar-social-item fa fa-facebook" %>
        <%= link_to "", "#", class: "topbar-social-item fa fa-instagram" %>
        <%= link_to "", "#", class: "topbar-social-item fa fa-pinterest-p" %>
        <%= link_to "", "#", class: "topbar-social-item fa fa-snapchat-ghost" %>
        <%= link_to "", "#", class: "topbar-social-item fa fa-youtube-play" %>
      </div>
      <span class="topbar-child1"><%= t "common.welcome" %></span>
      <div class="topbar-child2">
        <span class="topbar-email">
          <%= link_to_unless I18n.locale == :en, t("language.en"), locale: :en %> |
          <%= link_to_unless I18n.locale == :vi, t("language.vi"), locale: :vi %>
        </span>
      </div>
    </div>
    <div class="wrap_header">
      <!-- Logo -->
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag "icons/logo.png", alt: "IMG-LOGO" %>
       <% end %>
      <!-- Menu -->
      <div class="wrap_menu">
        <nav class="menu">
          <ul class="main_menu">
            <li><%= link_to t(".home"), root_path %></li>
            <li><%= link_to t(".follow"), "#" %></li>
            <li>
              <%= link_to("#") do %>
                <span><%= link_to t(".category"), category_path %>&nbsp;</span>
                <i class="fa fa-caret-down"></i>
              <% end %>
              <ul class="sub_menu">
                <li><%= link_to "Action", "#" %></li>
                <li><%= link_to "Adventure", "#" %></li>
                <li><%= link_to "Harem", "#" %></li>
                <li><%= link_to "School Life", "#" %></li>
                <li><%= link_to "Drama", "#" %></li>
              </ul>
            </li>
            <li class="sale-noti"><%= link_to "Hot", "#" %></li>
            <li><%= link_to t(".blog"), "#" %></li>
            <li><%= link_to t(".contact"), "#" %></li>
            <li><%= link_to t(".about"), about_path %></li>
          </ul>
        </nav>
      </div>

      <!-- Header Icon -->
      <div class="header-icons">
        <%= link_to "#", class: "header-wrapicon1 dis-block" do %>
          <%= image_tag "icons/icon-header-01.png", class: "header-icon1", alt: "ICON" %>
        <% end %>
        <span class="linedivide1"></span>
        <div class="header-wrapicon2">
          <%= image_tag "icons/icon-header-02.png", class: "header-icon1 js-show-header-dropdown", alt: "ICON" %>
          <span class="header-icons-noti">0</span>
          <!-- Header cart noti -->
          <div class="header-cart header-dropdown">
            <ul class="header-cart-wrapitem">
              <li class="header-cart-item">
                <div class="header-cart-item-img">
                  <%= image_tag "/images/item-cart-01.jpg", alt: "IMG" %>
                </div>

                <div class="header-cart-item-txt">
                  <%= link_to "#", class: "header-cart-item-name" do %>
                    <%= t ".sample_content" %>
                  <% end %>
                </div>
              </li>

              <li class="header-cart-item">
                <div class="header-cart-item-img">
                  <%= image_tag "/images/item-cart-02.jpg", alt: "IMG" %>
                </div>

                <div class="header-cart-item-txt">
                  <%= link_to "#", class: "header-cart-item-name" do %>
                    <%= t ".sample_content" %>
                  <% end %>
                </div>
              </li>
            </ul>

            <div class="header-cart-total">
              <%= t ".total" %>
            </div>

            <div class="header-cart-buttons">
              <div class="header-cart-wrapbtn">
                <%= link_to "#", class: "flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" do %>
                  <%= t ".button_left" %>
                <% end %>
              </div>

              <div class="header-cart-wrapbtn">
                <%= link_to "#", class: "flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" do %>
                  <%= t ".button_right" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Mobile -->
  <div class="wrap_header_mobile">
    <!-- Logo moblie -->
    <%= link_to root_path, class: "logo-mobile" do %>
      <%= image_tag "icons/logo.png", alt: "IMG-LOGO" %>
    <% end %>

    <!-- Button show menu -->
    <div class="btn-show-menu">
      <!-- Header Icon mobile -->
      <div class="header-icons-mobile">
        <%= link_to "#", class: "header-wrapicon1 dis-block" do %>
          <%= image_tag "icons/icon-header-01.png", class: "header-icon1", alt: "IICON" %>
        <% end %>

        <span class="linedivide2"></span>

        <div class="header-wrapicon2">
          <%= image_tag "icons/icon-header-02.png",class: "header-icon1 js-show-header-dropdown", alt: "IICON" %>
          <span class="header-icons-noti">0</span>

          <!-- Header cart noti -->
          <div class="header-cart header-dropdown">
            <ul class="header-cart-wrapitem">
              <li class="header-cart-item">
                <div class="header-cart-item-img">
                  <%= image_tag "/images/item-cart-01.jpg" %>
                </div>

                <div class="header-cart-item-txt">
                  <%= link_to "#", class: "header-cart-item-name" do %>
                    <%= t ".sample_content" %>
                  <% end %>
                </div>
              </li>

              <li class="header-cart-item">
                <div class="header-cart-item-img">
                  <%= image_tag "/images/item-cart-02.jpg" %>
                </div>

                <div class="header-cart-item-txt">
                  <%= link_to "#", class: "header-cart-item-name" do %>
                    <%= t ".sample_content" %>
                  <% end %>
                </div>
              </li>
            </ul>

            <div class="header-cart-total">
              <%= t ".total" %>
            </div>

            <div class="header-cart-buttons">
              <div class="header-cart-wrapbtn">
              <%= link_to "#", class: "flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" do %>
                  <%= t ".button_left" %>
                <% end %>
              </div>

              <div class="header-cart-wrapbtn">
                <%= link_to "#", class: "flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" do %>
                  <%= t ".button_right" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </div>
  </div>



  <!-- Menu Mobile -->
  <div class="wrap-side-menu" >
    <nav class="side-menu">
      <ul class="main-menu">
        <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
          <span class="topbar-child1"><%= t "common.welcome" %></span>
        </li>

        <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
          <div class="topbar-child2-mobile">

            <div class="topbar-language rs1-select2">
              <span class="topbar-email">
                <%= link_to_unless I18n.locale == :en, t("language.en"), locale: :en %> |
                <%= link_to_unless I18n.locale == :vi, t("language.vi"), locale: :vi %>
              </span>
            </div>
          </div>
        </li>

        <li class="item-topbar-mobile p-l-10">
          <div class="topbar-social-mobile">
            <%= link_to "", "#", class: "topbar-social-item fa fa-facebook" %>
            <%= link_to "", "#", class: "topbar-social-item fa fa-instagram" %>
            <%= link_to "", "#", class: "topbar-social-item fa fa-pinterest-p" %>
            <%= link_to "", "#", class: "topbar-social-item fa fa-snapchat-ghost" %>
            <%= link_to "", "#", class: "topbar-social-item fa fa-youtube-play" %>
          </div>
        </li>


        <li class="item-menu-mobile">
          <%= link_to t(".home"), root_path %>
        </li>

        <li class="item-menu-mobile">
          <%= link_to("#") do %>
            <span><%= link_to t(".category"), category_path %>&nbsp;</span>
            <i class="fa fa-caret-down"></i>
          <% end %>
          <ul class="sub_menu">
            <li><%= link_to "Action", "#" %></li>
            <li><%= link_to "Adventure", "#" %></li>
            <li><%= link_to "Harem", "#" %></li>
            <li><%= link_to "School Life", "#" %></li>
            <li><%= link_to "Drama", "#" %></li>
          </ul>
          <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
        </li>

        <li class="item-menu-mobile">
          <%= link_to t(".follow"), "#" %>
        </li>
        <li class="item-menu-mobile sale-noti">
          <%= link_to t(".hot"), "#" %>

        </li>
        <li class="item-menu-mobile">
          <%= link_to t(".blog"), "#" %>
        </li>
        <li class="item-menu-mobile">
          <%= link_to t(".contact"), "#" %>
        </li>
        <li class="item-menu-mobile">
          <%= link_to t(".about"), about_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>
