<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= favicon_link_tag asset_path("icons/favicon.png") %>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= render "layouts/flash" %>
    </div>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
</html>
