<!DOCTYPE html>
<html>
  <head>
    <title><%= t "common.title" %></title>
    <%= favicon_link_tag asset_path("icons/favicon.png") %>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
  <%= render "layouts/rails_default" %>
</html>
